@use 'variables' as *;


@font-face {
    font-family: "Avenir";
    src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf"),
        url("../../assets/fonts/AvenirNextLTPro.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: "Avenir";
    src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("otf"),
        url("../../assets/fonts/AvenirNextLTProBold.ttf") format("ttf");
    font-weight: 700;
    font-style: normal;
}


// oswald bold 136px
// oswald bold 32px
// oswald bold 20px

// bebas 23px light
// bebas 125 light
// bebas 115 light

// lato light 16px
// lato italic 12px