//variables

//screen breaking points
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;


//primary colors
$blue : #414f6b;
$gray: #4d4d4d;
$lightGray: #afb3bd;


//secondary colors
$white: #ffffff;
$lightBlue: #63769d;