@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;


.header{

    &__nav{
        color: $white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: $white;
        &--top{
            background-color: transparent;
        }

    }
    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    &__logo-wrapper{
        // border-radius: 2rem;
        // border-width: .125rem;
        // border-style: solid;
        // border-color: $gray;
        margin-top: -5px;
    }
    &__logo{
        width: 42px;
        // 
    }
    &__company-name{
        font-family: "Bebas Neue";
        font-size: 1.375rem;
        font-weight: 400;
        width: 100px; 
        white-space: normal; 
        padding-left: .5rem; 
        color: $blue;
        letter-spacing: 1.2px;
        margin-block-start: 0;
        margin-block-end: 0;
        line-height: 18px;
        &--top{
            display:none;
        }
    }
    &__company-name--highlight{
        color: $gray;
        letter-spacing: 0.5px;
    }
    &__list-link{
        font-style: italic;
        color: $blue;
        font-family: "Lato";
        font-size: 12px;
        font-weight: 600;
        &--top{
            color: white;
        }
    }
    &__list-item{
        padding: .5rem;
        list-style:none;
    }
    &__list{
        display: flex;
        text-decoration: none;
    }
}
