@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: $lightBlue;
    background-color: $blue;
    padding: 1rem 0.25rem;
    &__container{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }
    &__logo-wrapper{
        background-color: $blue;
        display: inline-block; 
        position: relative; // Necessary for z-index to work
        z-index: 10;
        opacity: 50%;
    }
    &__logo{
        width: 54px;

    }
    &__company-name{
        font-family: "Bebas Neue";
        font-size: 1.375rem;
        font-weight: 400;
        width: 100px; 
        white-space: normal; 
        padding-left: .5rem; 
        color: $lightBlue;
        letter-spacing: 1.2px;
        margin-block-start: 0;
        margin-block-end: 0;
    }
    &__company-name--highlight{
        letter-spacing: 0.5px;
    }
    &__copyright{
        font-style: italic;
        font-size: 12px;
        font-family: "Lato";
        font-weight: 600;
        margin-block-start: 0;
        margin-block-end: 0;

    }
}
